@media print {
    html,body {
        margin: 0;
	}
	.no-print, .no-print *
    {
        display: none !important;
    }
}

h1 {
	font-family: Lemon;
	font-size: 41px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 73.8px;
}

p {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
